/* General Table Container Styles */
.table_container {
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--primary-border-color);
  transition: all 0.3s ease-in-out;
}

/* Table Header Styles */
.table_header {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Table Row Styles */
.table_row {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.table-row:hover {
  background-color: rgba(var(--primary-bg-color-rgb), 0.15);
  transform: scale(1.01);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Cell Styles */
.table-cell {
  padding: 16px;
  font-size: 0.9rem;
  color: var(--primary-text-color);
  text-align: left;
  border-bottom: 1px solid var(--primary-border-color);
}

.table-cell-head {
  font-weight: bold;
  font-size: 1rem;
  color: var(--primary-text-color);
  text-transform: capitalize;
  background-color: var(--header-bg-color);
  border-bottom: 2px solid var(--primary-border-color);
}

/* Pagination Styles */
.table-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  background-color: var(--primary-bg-color);
  border-top: 1px solid var(--primary-border-color);
}

/* Button Styles */
.table-button {
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.table-button-approve {
  background-color: var(--success-color);
  color: white;
}
button.table-bulk-SynthisGroup {
  background-color: var(--accent-color);
  color: white;
  white-space: nowrap; /* Prevent text wrapping */

  width: auto;
  border: none;
  font-size: 0.875rem;
  padding: 8px 16px;
}
button.table-bulk-approve {
  background-color: var(--success-color);
  color: white;
  white-space: nowrap; /* Prevent text wrapping */

  width: auto;
  border: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 8px 16px;
}

button.table-bulk-delete {
  background-color: var(--error-color);
  color: white;

  width: auto;
  white-space: nowrap; /* Prevent text wrapping */
  border: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 8px 16px;
}
.table-button-approve:hover {
  background-color: var(--success-color-dark);
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.table-button-revoke {
  background-color: var(--error-color);
  color: white;
}

.table-button-revoke:hover {
  background-color: var(--error-color-dark);
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.table-button:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
  box-shadow: none;
}

/* Search Field */
.table-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table-search-input {
  min-width: 220px;
  padding: 8px;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  font-size: 0.875rem;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.table-search-input:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 5px var(--accent-color);
}

/* Status Icon Styles */
.status-icon {
  vertical-align: middle;
  font-size: 1.2rem;
}

.status-icon-success {
  color: var(--success-color);
}

.status-icon-disabled {
  color: var(--disabled-bg-color);
}

/* Loading Container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--primary-text-color);
}

/* Error Container */
.error-container {
  text-align: center;
  padding: 20px;
  color: var(--error-color);
  font-size: 1rem;
}

/* Linear Progress */
.linear-progress {
  height: 10px;
  border-radius: 5px;
  background-color: var(--disabled-bg-color);
}

.linear-progress-bar {
  border-radius: 5px;
}

/* Utility Classes */
.row-id {
  font-family: monospace;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--primary-text-color);
  text-transform: capitalize;
}
