.content{
	padding-top:4em;
}

.passInput{
	margin-left: 10% !important;
    width: 50% !important;
	margin-top: 2%;
}

.passlabel{
	width: 30%;
	text-align: right;
}

.passButton{
	margin-top: 2%;
	margin-left: 25%;
}