@page { size: auto;  margin: 0mm; }

@media screen {
	body {
    font-size: 100%;
		background: #000;
		color: #fff;
	}
}


@media print {
  body {
    font-size: 5mm;
    width: 76mm;
    word-break: break-all;
  };
}

@media screen, print {
	p {
		margin: 0 0 1.5em 2em;
  }
}

