
      @media screen {
      }

      @media print {
         body {
            -webkit-print-color-adjust: exact;
            margin: 0 !important;
            padding: 0 !important;
         }

         table {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;
         }

            table td {
               border: none !important;
            }

         #shiftTable {
            display: none;
         }
          .hidePrint {
            display: none;
         }

         .hideView {
            display: block !important;
         }

         img {
            margin-left: 1.5mm !important;
            margin-top: 1mm !important;
            height: 3.3mm !important;
            width: 22mm !important;
         }
      }

      @page {
         size: A4;
         margin: 11.1mm 3mm 0 2mm;
         margin-bottom: 0mm !important;
         padding-bottom: 0mm !important;
         padding-top: 0 !important;
         margin-top: 11.1mm !important;
      }

      html, body {
         margin: 0 !important;
         width: 204mm;
         /*height: 285.9mm;*/
      }

      body {
         margin: 0 !important;
         padding: 0 !important;
         font-family: 'Tahoma' !important;
         font-size: 0.8em !important;
         color: #000 !important;
         font-weight: 800;
      }

      table {
         display: block;
         word-wrap: break-word;
         table-layout: fixed;
         border: none !important;
      }

      thead {
         display: table-header-group;
      }

      table td {
         display: inline-block;
         width: 38mm !important;
         height: 21.1mm !important;
         border: 1px solid;
         margin-left: 2.5mm;
      }

      table tr {
         margin: 0 !important;
         padding: 0 !important;
      }
			
			.compname {
				max-width: 32mm !important;
        width: 32mm !important;
				font-size: 0.7em !important;
				overflow: hidden;
        white-space: nowrap;
			}
			
			.reportname {
				max-width: 32mm !important;
        width: 32mm !important;
				font-size: 0.7em !important;
				overflow: hidden;
        white-space: nowrap;
			}
			
			.nmol {
				max-width: 32mm !important;
        width: 32mm !important;
				font-size: 0.7em !important;
				overflow: hidden;
        white-space: nowrap;
			}

			.mw {
				float:left;
				max-width: 16mm !important;
				overflow: hidden;
        white-space: nowrap;
				font-size: 0.7em !important;
			}
			
      .tmbasic {
				float:left;
				max-width: 16mm !important;
				overflow: hidden;
        white-space: nowrap;
				font-size: 0.7em !important;
			}
			
      .reportdata {
         max-width: 32mm !important;
         width: 32mm !important;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         display: inline-block;
				 font-size: 0.6em !important;
      }

			.reportdata2 {
				max-width: 32mm !important;
				width: 32mm !important;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: inline-block;
				font-size: 0.6em !important;
			}

      .reportcontent {
         margin: 0 !important;
         padding-top: 0.3em;
         padding-left: 1em;
      }

      .hideView{
         display: none;
      }
