@media screen {
	img {
		 //width: 675px;
	}
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}

	body {
		-webkit-print-color-adjust: exact;
	}

	thead {
		display: table-header-group;
	}

	.main-table::after {
		display: block;
		content: "";
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	div.page-content {
		page-break-after: always;
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	#tarihInput, #tarihDegistir, #returnBtn {
		display: none;
	}

	.hidePrint {
		 display: none;
	}
	
	img {
		width: 100mm !important;
	}
		
	.yantarafprint {
		padding-left: 0;
	}
}

@page {
	size: A4;
	margin: 0;
}

body {
	margin: 0 !important;
	padding-top: 0 !important;
	font-family: sans-serif !important;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

.small-font {
	font-size: 10px;
	margin-top: 0;
	margin-bottom: 1px;
	padding-top: 0;
	padding-bottom: 1px;
}

.medium-font {
	font-size: 10px;
	font-family: Georgia;
}

table.table-condensed > tbody > tr > td {
	font-size: 9px;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-color: #B1D189;
	padding-bottom: 2px;
}

td.header {
	background-color: #f6f7f9 !important;
	color: #3DD333 !important;
	font-family: Georgia !important;
	font-weight: bold !important;
}

td.imp {
	background-color: #56CE82 !important;
	color: #222222 !important;
	font-weight: bold !important;
}

table.main-table {
	border-spacing: 0 !important;
}

th.main-table, tr.main-table, td.main-table {
	border-spacing: 0 !important;
}

span.units {
	font-size: 8px;
	font-style: italic;
}

.sentegenlogo{
	margin-left: 1cm;
	margin-bottom: 0.1cm;
	height: 2.4cm !important;
	padding: 0 !important;
}

.yantarafsirket {
	padding-left: 10px;
	font-size: 0.8em;
	line-height: 0.8em;
	font-weight: 1.2em;
}

.yantarafadres {
	padding-left: 10px;
	font-size: 0.7em;
	line-height: 0.8em;
	font-weight: 1.2em;
}

.yantaraflink {
	padding-left: 10px;
	font-size: 0.8em;
	line-height: 0.8em;
	font-weight: 1.4em;
	color: #0000EE;
}

.yantaraf {
	padding-left: 30px;
}